*{
    overflow: hidden;
}
.container-fluid{
    background-color: #f0f3bd;
    height: 100vh;
   
}



#sidebar{
    background-color: #02c39a;
    height: 100vh;
    
}

#top-bar{
    height: 4rem;
    background-color: #05668d;
}

.list-bar{
    line-height: 2rem;
}

.nav-item:hover{
    color: white;
}


.nav-link{
    color: white;
}
